In [37]:
# - 1. Write a program to drop rows with at least one Nan value (Null value)

import pandas as pd
data = {
    'a': [1,2,None,4],
    'b': [5,6,7,None]
}
df = pd.DataFrame(data)

df_cleaned = df.dropna()
print("Original data dataframe:")
print(df)
print('\n')
print("\nDataFrame after dropping rows with NaN values:")
print(df_cleaned)

Original data dataframe:
     a    b
0  1.0  5.0
1  2.0  6.0
2  NaN  7.0
3  4.0  NaN



DataFrame after dropping rows with NaN values:
     a    b
0  1.0  5.0
1  2.0  6.0